{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}


{{- with .Params.accent }}
<style type="text/css">
	:root {
		--accentColor: {{.}};
	}
</style>
{{- end }}

{{ if or .Params.math .Site.Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
<script type="module">
    import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.mjs";
    renderMathInElement(document.body, 
		[
		  {left: "$$", right: "$$", display: true},
		  {left: "$", right: "$", display: false},
		  {left: "\\(", right: "\\)", display: false},
		  {left: "\\[", right: "\\]", display: true}
		]
    );
</script>
{{ end }}

